.error {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 10px;
  position: relative;
  left: 50%;
  translate: -50%;
}

form input, #role, select {
  width: 100%!important;
  outline: 0;
  border: 0;
  background-color: var(--dark);
  color: white;
  margin: 10px 0;
  padding: 15px;
  border-radius: 2.5px;
}

form input[type="submit"] {
  background-image: var(--gradient);
  color: white;
  cursor: pointer;
}

form input::placeholder, textarea::placeholder {
  color: lightgray;
}

.references {
  text-align: right;
  padding: 15px 0;
  text-decoration: none;
  color: var(--blue);
}

.title {
  text-align: center;
  margin: 50px 0px 20px 0;
}

#role option {
  background-color: var(--dark);
  border-radius: 0px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

::-ms-reveal {
  filter: invert(100%);
}

textarea {
  width: 100%;
  background-color: transparent;
  outline: 0;
  border: 0;
  background-color: var(--dark);
  color: white;
  margin: 10px 0;
  padding: 15px;
  border-radius: 2.5px;
  height: 80px;
  resize: none;
}

.return {
  width: max-content!important;
  margin: 5px 15px;
}

.button {
  color: white;
  background-image: var(--gradient);
  padding: 15px 30px;
}

form button[type = 'button'] {
  width: 100%;
  padding: 15px 0px;
  color: white;
}

form button[type = 'button'], .button {
  background-color: var(--input);
  cursor: pointer;
  border: 0;
  border-radius: 2.5px;
  margin: 10px 0;
}

.participations, #img-container {
  background-color: var(--dark);
  padding: 10px;
  border-radius: 2.5px;
  margin: 10px 0;
}

.user-input  {
  display: grid;
  grid-template-columns: auto 60px;
}

.remove {
  padding: 0!important;
  background-image: none!important;
  background-color: rgb(204, 56, 56) !important;
  width: 60px!important;
  margin: 10px 0;
  height: auto!important;
  font-weight: bold;
  border-radius: 0 2.5px 2.5px  0!important;
  color: white;
  font-size: 25px;
  z-index: 2;
}

.user {
  border-radius: 2.5px 0 0 2.5px!important;
}

.picture-label {
  display: block;
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  border-radius: 2.5px;
  cursor: pointer;
  margin: 10px 0!important;
  position: relative;
}

.selected-img {
  width: 100%;
  font-size: 14px;
  padding: 15px;
  margin: 20px 0 10px 0;
  border-radius: 2.5px;
}

.selected-img, .picture-label, .userButton, .user {
  background-color: var(--background) !important;
}

.icon {
  position: relative;
  width: 20px;
  margin-left: 7px;
  translate: 0% 15%;
  filter: invert(100%);
}

.icon.dark {
  filter: invert(0%)!important;
}

#picture {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
}

.check {
  position: absolute;
  left: 92%;
  translate: -50%;
  width: 20px;
  filter: invert(55%) sepia(78%) saturate(421%) hue-rotate(77deg) brightness(90%) contrast(89%);
}