a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}

.add-project-button {
  width: max-content;
  position: relative;
  left: 50%;
  translate: -50%;
}

.projects {
  text-align: center;
  margin: 15px 0;
}

.project {
  aspect-ratio: 4/3;
  width: 400px;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  margin: 15px 10px;
  position: relative;
  box-shadow: 2px 2px 10px rgb(200, 200, 200);
  transition: margin .3s;
  cursor: pointer;
}

/*
.project:hover {
  margin: 0 10px 30px 10px;
}
*/

.project img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project .caption {
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 100;
  background: #eeeeeeae;
  backdrop-filter: blur(3.5px);
  padding: 10px 0;
}

.title {
  margin: 30px 0 15px 0;
  text-align: center;
}

.text {
  text-align: center;
}

button {
  margin: 15px 0;
  width: 250px;
  background-image: var(--gradient);
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 2.5px;
  padding: 15px 30px;
  width: max-content;
}

.settings {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background: #eeeeeeae;
  backdrop-filter: blur(3.5px);
  padding: 10px;
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
}

.settings a {
  display: block;
}

.settings i {
  margin: 0 5px;
  z-index: 1000;
}
