:root {
  --dark: #2d2d2d;
  --lightDark: #555555;
  --blue: #55bbe7;
  --green: #3ca660;
  --gradient: linear-gradient(135deg, var(--green), var(--blue));
  --background: #222324;
  --textColor: white;
  --boxShadow: #0005;
  --boxShadowDark: black;
  --transparent: rgba(50, 50, 50, 0.7);
  --widget: rgb(30, 30, 30);
  --task-gradient: linear-gradient(135deg, #55bbe7, rgb(32, 112, 182));
  --task-gradient-focus: linear-gradient(135deg, rgb(0, 114, 214), rgb(0, 88, 165));
  --task-focus: #314c5f52;
  --yellow: rgb(255, 217, 63);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--widget);
}

::-webkit-scrollbar-thumb {
  background-color: #313131;
  border-radius: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Segoe UI", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--textColor);
}