{% extends 'template.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/authentication.css' %}">

<script src="{% static 'js/add-project.js' %}" defer></script>

<a href="/dashboard/" class="return">
  <button class="button">
    <i class="fa-solid fa-arrow-left" style="margin-right: 5px;"></i> Back to dashboard
  </button>
</a>

<form method="post" enctype="multipart/form-data" {% if mode == "edit" %}action="/projects/edit/{{form.project_id}}/"{% endif %} >
  {% csrf_token %}
  <label>
    <input required type="text" name="name" placeholder="Project Name" value="{{ form.name }}">
    <span class="error">{{errors.name}}</span>
  </label>
  <label>
    <textarea required name="description" placeholder="Description" cols="30"
      rows="10">{{ form.description }}</textarea>
    <span class="error">{{errors.description}}</span>
  </label>

  {% if mode != "edit" %}
  <div id="img-container">
    <label for="picture" class="picture-label">
      <div>
        <input required id="picture" type="file" name="picture" placeholder="Picture" onchange="newImage()">
        <span class="error">{{errors.picture}}</span>  
      </div>
      Insert your Image <img class="icon" src="/static/img/image-solid.svg">
    </label>
  </div>
  {% endif %}


  <div class="participations">
    <button onclick="addUserInput()" class="userButton" type="button">Add Collaborator <img class="icon"
        src="/static/img/user-plus-solid.svg"></button>
    <div id="users">
      {% for email in form.users %}
      <div class="user-input">
        <input required type="email" name="user" class="user" value="{{email}}">
        <button type="button" class="remove" onclick="removeUserInput(this.parentElement)">&#x78;</button>
        {% if errors.users %}
        <span class="error">{{ errors.users|get_item:forloop.counter0 }}</span>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>

  <input type="submit" value="Submit">
</form>

{% endblock content %}