{% extends 'template_docs.html' %}

{% block docs_content %}

<div class="section" id="django">
    <h1><span># </span>Viste</h1>

    <h2>Cosa servono</h2>

    <p>Una funzione di visualizzazione, o in breve views(vista), è una <span>funzione Python</span> che accetta una <span>richiesta</span> web e
        restituisce una <span>risposta</span> web. Questa risposta può essere il <span>contenuto HTML</span> di una pagina Web, un
        <span>reindirizzamento</span>, un <span>errore 404</span>, un <span>documento XML</span> o un'<span>immagine</span>.
    </p>

    <section>
        La convenzione è di inserire le viste in un file
        chiamato views.py, collocato nella directory del progetto o dell'applicazione.
    </section>

        <!-- Esempio di codice -->
    <h2>Esempio</h2>

    <p>Questo è un pezzo del nostro codice del modulo views.py</p>

    <pre>
    <code class="python">
from django.shortcuts import render, redirect
from django.http import HttpResponse

from django.utils.html import escape

from django.contrib.auth.models import User
from django.contrib import messages
from django.contrib.auth import authenticate, login as user_login, logout as user_logout
from django.contrib.auth.decorators import login_required

from base.models import *


# Create your views here.
def index(request):
    return render(request, "index.html")


def docs(request):
    return render(request, "docs.html")


def docs_models(request):
    return render(request, "docs_models.html")
    </code>
    </pre>

    {% endblock docs_content %}