{% extends 'template_docs.html' %}

{% block docs_content %}

<div class="section" id="django">
    <h1><span># </span>Templates</h1>

    <h2>Cosa sono</h2>

    <p>I template o modello sono modi <span>convenitenti</span> per generare HTML in modo <span>dinamico</span>.
        Un modello contiene le parti statiche dell'output HTML desiderato,
        con alcune sintassi speciali che descrivono come verrà inserito il <span>contenuto dinamico</span>.
        </span>
    </p>

    <section>
        Il template engine per Python che può essere utilizzato per la creazione di documenti HTML è Jinja
    </section>

    <!-- Sintassi -->
    <h2>Sintassi</h2>
    <p>La sintassi del linguaggio modello Django prevede quattro costrutti:
        <ul>
            <li>
                <span>Condizione</span>: si usa con <span class="code">&#123;% if %&#125;&#123;% else %&#125;&#123;% endif %&#125;</span>.<br>
                Esempio:
                <pre><code class="html">&#123;% if role == "project_manager" %&#125;
&lt;button class="button addTask" onclick="addTaskBanner()"&gt;
    Add Task&lt;i class="icon dark fa-solid fa-thumbtack"&gt;&lt;/i&gt;
&lt;/button&gt;
&#123;% endif %&#125;</code></pre>
            </li>
            <li>
                <span>Iterazione</span>: utile nel caso si necessiti di mostrare una lista di elementi di struttura identica.
                La sintassi è <span class="code">&#123;% for %&#125;&#123;% endfor %&#125;</span>.<br>
                Esempio:
                <pre><code class="html">&#123;% for task in tasks %&#125;
&lt;div
    class="task &#123;&#123; task.color &#125;&#125;"
    data-id="&#123;&#123; task.id &#125;&#125;"
    data-name="&#123;&#123; task.name &#125;&#125;"
    data-description="&#123;&#123; task.description &#125;&#125;"
&gt;
    &lt;div class="descriptor"&gt;&#123;&#123; task.name &#125;&#125;&lt;/div&gt;
&lt;/div&gt;
&#123;% endfor %&#125;</code></pre>
            </li>
            <li>
                <span>Inclusione</span>: la sintassi del comando è <span class="code">&#123;% include %&#125;</span> e serve ad
                importare del codice da un altro file template sul file corrente. L'utilizzo più comune è quello della creazione di
                <span>componenti</span> personalizzati.
                <pre><code class="html">&#123;% include "navbar.html" %&#125;</code></pre>
            </li>
            <li>
                <span>Estensione</span>: la sintassi del comando è <span class="code">&#123;% extends %&#125;</span> e serve ad
                estendere pagine aggiungendone dei <span>blocchi</span> (vedi sotto).
                <pre><code class="html">&#123;% extends "base-documentazione.html" %&#125;</code></pre>
            </li>
            <li>
                <span>Blocchi</span>: si usano nelle pagine che sono estensioni di altre pagine. Sovrascrivono una parte di codice
                dalla pagina da cui ereditano e si usano con <span class="code">&#123;% block nome %&#125;&#123;% endblock %&#125;</span>.
                <pre><code class="html">&#123;% extends "base-documentazione.html" %&#125;
                    
&#123;% block main-content %&#125;
&lt;div class="center"&gt;
    &lt;h1&gt;Contenuto della pagina&lt;/h1&gt;
    &lt;p&gt;Questo contenuto verrà sovrascritto nel 
      `block content` del file "base-documentazione.html"&lt;/p&gt;
&lt;/div&gt;
&#123;% endblock main-content %&#125;</code></pre>
            </li>
        </ul>
    </p>

        <!-- Esempio di codice -->
        <h2>Esempio</h2>

        <p>Questo è un pezzo del nostro codice del template dashboard.html</p>
    
        <pre>
        <code class="html">
&#123;% extends 'template.html' %&#125;

&#123;% load static %&#125;

&#123;% block content %&#125;

&lt;link rel="stylesheet" href="&#123;% static 'css/dashboard.css' %&#125;">

&lt;h1 class="title">Dashboard&lt;/h1>

&lt;p class="text">Here you can manage your projects.&lt;/p>

&lt;a href="/projects/add/" class="add-project-button">
    &lt;button>Add project&lt;/button>
&lt;/a>

&lt;div class="projects">
    &#123;% for project in projects %&#125;

    &lt;div class="project" onclick="window.location = '/projects/{{ project.id }}/';">
    &#123;% if project.role == "project_manager" %&#125;
    &lt;div class="settings">
        &lt;a href="/projects/edit/{{ project.id }}/">&lt;i class="fa-solid fa-pen">&lt;/i>&lt;/a>
        &lt;a href="/projects/delete/{{ project.id }}/">&lt;i class="fa-solid fa-trash-can">&lt;/i>&lt;/a>
    &lt;/div>
    &#123;% endif %&#125;
    &lt;img src="{{ project.picture.url }}" alt="">
    &lt;div class="caption">
        &lt;h2>&#123;&#123; project.name &#125;&#125;&lt;/h2>
        &lt;span class="description">{{ project.description }}&lt;/span>
    &lt;/div>
    &lt;/div>
    &#123;% endfor %&#125;
&lt;/div>

&#123;% endblock content %&#125;

        </code>
        </pre>

    {% endblock docs_content %}