{% extends 'template.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">

<script src="{% static 'js/index.js' %}" defer></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- WBMaster -->
<div class="container">
    <h1 class="title">WBMaster+</h1>

    <p class="subtitle">Work Breakdown Simplified</p>

    <div class="button-container">
        <button onclick="window.location = '/dashboard/';">Provalo ora</button>
        <button onclick="window.location = '/docs/';">Vedi la doc</button>
    </div>
</div>

<!-- Noi per la tua azienda -->
<section>
    <h1 class="subtitle">NOI PER LA TUA AZIENDA</h1>
    <p class="description">Il nostro servizio ti permette di creare e gestire facilmente diagrammi di Gantt per i tuoi
        progetti. Scopri come può aiutarti a definire le attività e a mantenere i risultati finali sotto controllo.
    </p>
    <div class="chart-container">
        <canvas id="myChart"></canvas>
    </div>


    </div>
</section>

<!-- Reviews -->
<section>
    <h1 class="subtitle">GLI UTENTI LO ADORANO</h1>
    <p class="description">Il nostro prodotto è il migliore in Italia! La nostra azienda vanta una lunga lista di
        clienti soddisfatti e felici. Non perdere l'occasione di unirti a loro e scoprire la qualità dei nostri servizi.
    </p>
    <div class="reviews close" id="container-reviews">
        <div id="general" class="card">
            <button onclick="openReviews()" id="showRates"><i class="fa-solid fa-chevron-right"></i></button>
            <p class="card-title">Recensioni</p>
            <p class="rateNum">5<span>/5</span></p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <p class="ratings">2 Recensioni</p>
            <div class="rateBar">
                <p>5 <i class="fa-solid fa-star"></i></p>
                <div class="rate">
                    <span></span>
                </div>
                <span class="final">2</span>
            </div>

            <div class="rateBar">
                <p>4 <i class="fa-solid fa-star"></i></p>
                <div class="rate">
                </div>
                <span class="final">0</span>
            </div>

            <div class="rateBar">
                <p>3 <i class="fa-solid fa-star"></i></p>
                <div class="rate">
                </div>
                <span class="final">0</span>
            </div>

            <div class="rateBar">
                <p>2 <i class="fa-solid fa-star"></i></p>
                <div class="rate">
                </div>
                <span class="final">0</span>
            </div>

            <div class="rateBar">
                <p>1 <i class="fa-solid fa-star"></i></p>
                <div class="rate">
                </div>
                <span class="final">0</span>
            </div>
        </div>


        <div class="card user" id="user-1">
            <img src="{%static 'img/user-1.png'%}" alt="" class="userImg">
            {% comment %} <p class="reviewText">“This app is very useful, I'd like to buy your company... Tell me how much”</p> {% endcomment %}
            <p class="reviewText">“Questa app è molto utile, vorrei acquistare la vostra azienda... Ditemi quanto”</p>
            <p class="review-badge">Tradotto dall'inglese</p>
            <p class="card-title">Elon Musk</p>
            <p class="rateNum">5<span>/5</span></p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>

        <div class="card user" id="user-2">
            <img src="{%static 'img/user-2.png'%}" alt="" class="userImg">
            {% comment %} <p class="reviewText">“Work for me. Together we'll make billions”</p> {% endcomment %}
            <p class="reviewText">“Lavorate per me. Insieme faremo miliardi”</p>
            <p class="review-badge">Tradotto dall'inglese</p>
            <p class="card-title">Jeff Bezos</p>
            <p class="rateNum">5<span>/5</span></p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>

    </div>
</section>

<!-- Cosa aspetti -->
<section>
    <h1 class="subtitle">COSA ASPETTI?</h1>
    <p class="description">Vuoi anche tu migliorare la gestione della tua impresa? Iscriviti gratuitamente al nostro servizio
    </p>
    <div class="button-container">
        <button onclick="window.location = '/register/';">Iscriviti ora</button>
    </div>
    </div>
</section>

<!-- Footer -->
<div id="footer">
    <p>Lavoro svolto dalla AdolfH WBIndustries Pro max</p>
</div>

{% endblock content %}