{% extends 'template.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">

<script src="{% static 'js/index.js' %}" defer></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- WBMaster -->
<div class="container">
    <h1 class="title">WBMaster+</h1>

    <p class="subtitle">Work Breakdown Simplified</p>

    <div class="button-container">
        <button onclick="window.location = '/dashboard/';">Provalo ora</button>
        <button onclick="window.location = '/docs/';">Vedi la doc</button>
    </div>
</div>

<!-- Noi per la tua azienda -->
<section>
    <h1 class="subtitle">NOI PER LA TUA AZIENDA</h1>
    <p class="description">Il nostro servizio ti permette di creare e gestire facilmente diagrammi di Gantt per i tuoi
        progetti. Scopri come può aiutarti a definire le attività e a mantenere i risultati finali sotto controllo.
    </p>
    <div class="chart-container">
        <canvas id="myChart"></canvas>
    </div>


    </div>
</section>

<!-- Best technologies -->
<section id="sectionTechnologies">
    <h1 class="subtitle">COSTRUITO CON LE MIGLIORI TECNOLOGIE</h1>
    <p class="description">
        WBMaster sfrutta le più aggiornate tecnologie per fornire un servizio moderno e sempre all'avanguardia.
    </p>
    <div class="django-banner">
        <h2>Framework Django</h2>
        <div class="django-cards">
            <div class="card">
                <i class="fa-solid fa-user"></i>
                <h3>Semplice</h3>
            </div>
            <div class="card">
                <i class="fa-solid fa-rocket"></i>
                <h3>Veloce</h3>
            </div>
            <div class="card">
                <i class="fa-solid fa-lock"></i>
                <h3>Sicuro</h3>
            </div>
        </div>
        <a href="/docs/" class="center">
            <button>Scopri di più</button>
        </a>
</div>
</section>

<!-- Reviews -->
<section>
    <h1 class="subtitle">GLI UTENTI LO ADORANO</h1>
    <p class="description">Il nostro servizio è il migliore in Italia! La nostra azienda vanta una lunga lista di
        clienti soddisfatti e felici. Non perdere l'occasione di unirti a loro e scoprire la qualità dei nostri servizi.
    </p>
    <div class="reviews close" id="container-reviews">
        <div id="general" class="card">
            <button onclick="openReviews()" id="showRates"><i class="fa-solid fa-chevron-right"></i></button>
            <p class="card-title">Recensioni</p>
            <p class="rateNum">5<span>/5</span></p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <p class="ratings">2 Recensioni</p>
            <div class="rateBar">
                <p>5 <i class="fa-solid fa-star"></i></p>
                <div class="rate">
                    <span></span>
                </div>
                <span class="final">2</span>
            </div>

            <div class="rateBar">
                <p>4 <i class="fa-solid fa-star"></i></p>
                <div class="rate">
                </div>
                <span class="final">0</span>
            </div>

            <div class="rateBar">
                <p>3 <i class="fa-solid fa-star"></i></p>
                <div class="rate">
                </div>
                <span class="final">0</span>
            </div>

            <div class="rateBar">
                <p>2 <i class="fa-solid fa-star"></i></p>
                <div class="rate">
                </div>
                <span class="final">0</span>
            </div>

            <div class="rateBar">
                <p>1 <i class="fa-solid fa-star"></i></p>
                <div class="rate">
                </div>
                <span class="final">0</span>
            </div>
        </div>


        <div class="card user" id="user-1">
            <img src="{%static 'img/user-1.png'%}" alt="" class="userImg">
            <p class="reviewText" id="review-1">“This app is very useful, I'd like to buy your company... Tell me how much”</p>
            <p class="review-badge" id="review-1-text" onclick="transl('review-1')">Traduci</p>
            <p class="card-title">Elon Musk</p>
            <p class="rateNum">5<span>/5</span></p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>

        <div class="card user" id="user-2">
            <img src="{%static 'img/user-2.png'%}" alt="" class="userImg">
            <p class="reviewText" id="review-2">“Work for me. Together we'll make billions”</p>
            <p class="review-badge" id="review-2-text" onclick="transl('review-2')">Traduci</p>
            <p class="card-title">Jeff Bezos</p>
            <p class="rateNum">5<span>/5</span></p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>

    </div>
</section>

<!-- Cosa aspetti -->
<section id="sectionSubscribe">
    <h1 class="subtitle">COSA ASPETTI?</h1>
    <p class="description">
        I nostri diagrammi sono la chiave per il tuo business
    </p>
    <div class="django-banner" style="width: fit-content;">
        <h2>Vola verso il successo</h2>
        <div class="django-cards">
            <div class="">
                <img class="circle" src="{% static 'img/avatar.gif' %}" alt="">
            </div>
        </div>
        <a href="/register/" class="center">
            <button>Iscriviti ora</button>
        </a>
</div>
</section>


<!-- Footer -->
<section id="footer" style="margin-top: 60px;">
    <h1>Progetto svolto da</h1>
    <div class="coloumn">
        <a href="https://github.com/LelloBaka" target="blank" class="authors" href="">Leon Klein</a>
        <a href="https://github.com/Maruchero" target="blank" class="authors" href="">Marcello Garonzi</a>
    </div>
    <p>“Work smart not hard… choose us” - Allen F. Morgenstern</p>

    <a href="https://github.com/Maruchero/WBMaster" target="blank" class="git">
        <i class="fa-brands fa-github git"></i> Github repository
    </a>
</section>

{% endblock content %}