{% extends 'template.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/authentication.css' %}">
{% endblock head %}

{% block content %}
<h1 class="title">Login</h1>

<form method="post">
  {% csrf_token %}
  <label>
    <input type="text" name="email" value="{{ form.email }}" placeholder="Email">
  </label>
  <label>
    <input type="password" name="password" value="{{ form.password }}" placeholder="Password">
  </label>
  <input type="submit" value="Submit">
  <span class="error">{{ errors.credentials }}</span>
</form>
{% endblock content %}
