{% extends 'template.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/authentication.css' %}">
{% endblock head %}

{% block content %}
<h1 class="title">Login</h1>

<form method="post">
  {% csrf_token %}
  <input type="text" name="email" placeholder="email">
  <input type="text" name="password" placeholder="password">
  <a href="/register/" class="references">Don't have an account?</a>
  <input type="submit" value="Submit">
  {% if "credentials" in errors %}
  <span class="error">{{ errors.credentials }}</span>
  {% endif %}
</form>
{% endblock content %}
