{% extends 'template.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/project.css' %}" />
<link rel="stylesheet" href="{% static 'css/authentication.css' %}" />
<script src="{% static 'js/project.js' %}" defer></script>
<script>
  const role = "{{ role }}";
</script>

<a href="/dashboard/" class="return">
  <button class="button">
    <i class="fa-solid fa-arrow-left" style="margin-right: 5px"></i> Torna alla
    dashboard
  </button>
</a>

<header>
  <h1 class="title">{{ project.name }}</h1>
  <p class="description">{{ project.description }}</p>
  <p class="description">Ruolo: {{ role }}</p>
  {% if role == "project_manager" %}
  <button class="button addTask" onclick="addTaskBanner()">
    Aggiungi Task<i class="icon dark fa-solid fa-thumbtack"></i>
  </button>
  {% endif %}
</header>

<div class="task-display">
  <div class="overview" id="overview">
    <div class="overview-content">
      <div class="today-pointer" id="todayPointer"></div>
      <div class="weeks" id="weeks"></div>
      <div id="tasks" class="tasks">
        {% for task in tasks %}
        <div
          class="task {{ task.color }}"
          data-id="{{ task.id }}"
          data-name="{{ task.name }}"
          data-description="{{ task.description }}"
          data-start="{{ task.start|date:'Y-m-d' }}"
          data-end="{{ task.end|date:'Y-m-d' }}"
          data-parent="{{ task.parent_task_id }}"
          data-color="{{ task.color }}"
          data-assignment="{{ task.assignment }}"
        >
          <div class="descriptor">{{ task.name }}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="details hide" id="t">
  <i class="fa-solid fa-xmark close" onclick="hideSidebanner()"></i>
  <div id="details"></div>
  <div id="addTaskForm">
    {% if role == "project_manager" %}
    <h2 class="title">
      {% if form %} {{form.mode}} {% else %} Add {% endif %} Task
    </h2>
    <form class="add-task" method="post" action="/tasks/add/">
      {% csrf_token %}
      <input type="hidden" name="project" value="{{ project.id }}" />
      <input
        type="hidden"
        name="parent_task"
        id="parentTaskInput"
        value="{{ form.parent_id }}"
      />
      <label>
        <input
          required
          type="text"
          name="name"
          placeholder="Titolo Task"
          value="{{ form.name }}"
        />
        <span class="error">{{errors.name}}</span>
      </label>
      <label id="subtaskLabel">
        {% if form.parent_name %} Sottotask di: <b>{{ form.parent_name }}</b>
        {% endif %}
      </label>
      <label>
        <textarea
          required
          name="description"
          placeholder="Descrizione"
          cols="30"
          rows="10"
        >
{{ form.description }}</textarea
        >
        <span class="error">{{errors.description}}</span>
      </label>
      <label>
        <input
          required
          type="date"
          name="start"
          placeholder="Data inizio"
          value="{{ form.start }}"
        />
        <span class="error">{{errors.start}}</span>
      </label>
      <label>
        <input
          required
          type="date"
          name="end"
          placeholder="Data fine"
          value="{{ form.end }}"
        />
        <span class="error">{{errors.end}}</span>
      </label>
      <label>
        <select name="color">
          <option value="default">Azzurro</option>
          <option value="green">Verde</option>
          <option value="teal">Verde Acqua</option>
          <option value="red">Rosso</option>
          <option value="orange">Arancione</option>
          <option value="purple">Viola</option>
        </select>  
      </label>
      

      <label>
        <input
          type="email"
          name="user"
          placeholder="Email del responsabile"
          value="{{ form.user }}"
        />
        <span class="error">{{ errors.user }}</span>
      </label>

      <input type="submit" name="addTask" value="Aggiungi Task" />
    </form>
    {% endif %}
  </div>
</div>

{% if form.mode %}
<script async>
  document.getElementById("t").classList.remove("hide");
</script>
{% endif %}

{% endblock content %}
