{% extends 'template.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/authentication.css' %}">
{% endblock head %}

{% block content %}

<h1 class="title">Register</h1>

<form method="post">
  {% csrf_token %}
  <label>
    <input type="text" name="first_name" value="{{ form.first_name }}" placeholder="First name">
    <span class="error">{{errors.first_name}}</span>
  </label>

  <label>
    <input type="text" name="last_name" value="{{ form.last_name }}" placeholder="Last name">
    <span class="error">{{errors.last_name}}</span>
  </label>

  <label>
    <input type="email" name="email" value="{{ form.email }}" placeholder="Email">
    <span class="error">{{errors.email}}</span>
  </label>

  <label>
    <input type="password" name="password" value="{{ form.password }}" placeholder="Password">
    <span class="error">{{errors.password}}</span>
  </label>

  <label>
    <input type="password" name="confirm_password" value="{{ form.confirm_password }}" placeholder="Confirm password">
    <span class="error">{{errors.confirm_password}}</span>
  </label>

  <input type="submit" value="Submit">
</form>

{% endblock content %}
