{% extends 'template.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/authentication.css' %}">
{% endblock head %}

{% block content %}

<h1>Register</h1>

<form method="post">
  {% csrf_token %}
  <input type="text" name="first_name" value="first_name">
  <input type="text" name="last_name" value="last_name">
  <input type="text" name="email" value="email">
  <input type="text" name="username" value="username">
  <input type="text" name="password" value="password">
  <input type="text" name="confirm_password" value="confirm_password">
  {% if "confirm_password" in errors %}
    <span class="error">{{errors.confirm_password}}</span>
  {% endif %}
  <input type="text" name="role" value="role">
  <input type="submit" value="Submit">
</form>

{% endblock content %}
