{% extends 'template.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/docs.css' %}">
{% endblock head %}

{% block content %}

<div class="container">
  <div class="left">
    <a href="#">Django</a>
    <a href="#models">I modelli</a>
    <a href="">URL e viste</a>
    <a href="">Template (jinja)</a>
    <a href="">Creazione Progetto</a>
  </div>

  <div class="right">
    {% block docs_content %}
    
    {% endblock docs_content %}
  </div>
</div>

{% endblock content %}